<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Titulo de la pestaña-->
	<title>Budget Rent a Car</title>

	<!--Archivo de estilos css-->
	<link rel="stylesheet" th:href="@{/estiloGeneral.css}">

	<!--Icono de la pestaña-->
	<link rel="shortcut icon" href="https://avisbudgetproduction.azureedge.net/skin/frontend/budget/default/favicon.ico"
		type="image/x-icon" />


	<!--Dependencias de bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</head>


<body class="main-body">

	<style>
		.bg-orange {
			background-color: rgb(237, 85, 5);
		}
	</style>

	<!--Barra de navegacion-->
	<nav class="navbar navbar-expand-lg bg-orange fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home/}">
				<img src="https://i.postimg.cc/x8wmmCHn/budget.png" alt="Logo" width="105" height="55"
					class="d-inline-block align-text-top">

			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarNavDropdown">


				<ul class="navbar-nav mx-auto" style=" font-size: 1.3em">
					<li class="nav-item" style="padding-right: 50px;">
						<a class="nav-link"
							style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"
							th:href="@{/clientes/home}">Inicio</a>
					</li>
					<li class="nav-item" style="padding-right: 50px;">
						<a class="nav-link "
							style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"
							th:href="@{/clientes/vehiculos-disponibles}">Vehiculos Disponibles</a>
					</li>
					<li class="nav-item" style="padding-right: 50px;">
						<a class="nav-link"
							style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"
							th:href="@{/clientes/reservar-vehiculo}">Reservar Vehiculo</a>
					</li>
					<li class="nav-item" style="padding-right: 50px;">
						<a class="nav-link"
							style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"
							th:href="@{/clientes/registrarse}">Registrarse</a>
					</li>


				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>

	<div class="contenido" style="margin-top: 80px;">
		<nav class="navbar bg-body-tertiary" style="margin-top: 10px;">
			<div class="container-fluid d-flex justify-content-center"
				style="background-color: rgb(237, 85, 5); color: white; border-color: rgb(237, 85, 5); text-shadow: 1px 1px 1px rgb(46, 46, 46);">
				<a class="navbar-brand" style="color: white">Registro Exitoso</a>
			</div>
		</nav>
	</div>

	<div class="contenido">

		<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
			<img src="https://i.postimg.cc/wxrXQS06/registroexito.png" width="800em" height="450em" alt="Agradecimiento">
		</div>


	</div>

	<form th:action="@{/clientes/home}" th:method="GET" class="d-flex justify-content-center align-items-center"
		style="margin-bottom: 10px;">
		<button type="submit" class="btn btn-primary"
			style="background-color: rgb(237, 85, 5); color: white; border-color: rgb(237, 85, 5);">Volver</button>
	</form>

</body>

</html>