<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" th:href="@{/estiloGeneral.css}">


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Empleados</title>

	<link rel="shortcut icon" href="https://avisbudgetproduction.azureedge.net/skin/frontend/budget/default/favicon.ico"
		type="image/x-icon" />

	<!--Dependencias de bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</head>

<body class="main-body">
	<style>
		.bg-orange {
			background-color: rgb(237, 85, 5);
		}
	</style>

	<!--Barra de navegacion-->
	<nav class="navbar navbar-expand-lg bg-orange fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home/}">
				<img src="https://i.postimg.cc/x8wmmCHn/budget.png" alt="Logo" width="105" height="55"
					class="d-inline-block align-text-top">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mx-auto" style="font-size: 1.2em">
					<li class="nav-item" style="padding-right: 50px;">
						<a class="nav-link"
							style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"
							th:href="@{/empleados/home}">Inicio</a>
					</li>
					</li>
					<li class="nav-item"style="padding-right: 50px;">
						<a class="nav-link" style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);" th:href=@{/empleados/registrar-cliente}>Registrar Cliente</a>
					</li>
					<li class="nav-item"style="padding-right: 50px;">
						<a class="nav-link"  style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"th:href=@{/empleados/buscar-cliente}>Buscar Cliente</a>
					</li>
					<li class="nav-item"style="padding-right: 50px;">
						<a class="nav-link" style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);" th:href=@{/empleados/ingresar-vehiculo}>Ingresar Vehiculo</a>
					</li>
					<li class="nav-item"style="padding-right: 50px;">
						<a class="nav-link" style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"th:href=@{/empleados/buscar-vehiculo}>Buscar Vehiculo</a>
					</li>
					<li class="nav-item"style="padding-right: 50px;">
						<a class="nav-link" style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"th:href=@{/empleados/retirar-vehiculo-reservado}>Retirar Vehiculo Reservado
						</a>
					</li>
					<li class="nav-item"style="padding-right: 50px;">
						<a class="nav-link" style=" color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgb(46, 46, 46);"th:href=@{/empleados/retirar-vehiculo-sin-reserva}>Retirar Vehiculo sin
							Reserva</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>


		<div class="contenido">
		<nav class="navbar bg-body-tertiary">
			<div class="container-fluid d-flex justify-content-center "
				style="background-color: rgb(237, 85, 5); color: white; border-color: rgb(237, 85, 5); text-shadow: 1px 1px 1px rgb(46, 46, 46);">
				<a class="navbar-brand" style=" color: white">Registro de clientes</a>
			</div>
		</nav>

	</div>
		</nav>
		<form class="formulario" th:action=@{/empleados/realizar-registro} th:object=${cliente} th:method="POST">
			<br>
			<label>Datos del cliente</label>
			<br>
			<br>
			<label style="margin-right:2em ;">Número de Cédula: </label>
			<input type="text" placeholder="0123456789" th:field="${cliente.cedula}" pattern="\d*" maxlength="10" required>
			<br>
			<label style="margin-right:6.66em ;">Nombre: </label>
			<input type="text" placeholder="nombre" th:field="${cliente.nombre}" pattern="[A-Za-z]*" required>
			<br>
			<label style="margin-right:6.66em ;">Apellido: </label>
			<input type="text" placeholder="apellido" th:field="${cliente.apellido}" pattern="[A-Za-z]*" required>
			<br>
			<label style="margin-right:1.05em ;">Fecha de Nacimiento: </label>

			<input type="date" id="fechaNacimiento" th:field="${cliente.fechaNacimiento}" min="1950-12-31" max="2006-12-31" required>

			<br>
			<label style="margin-right:7.1em ;">Genero: </label>

			<select class="form-select " aria-label="Default select example"
				style="width: min-content; margin-left:10.8em; margin-top:-1.4em;" th:field="${cliente.genero}">
				<option selected disabled value="">Opciones...</option>
				<option value="M">Masculino</option>
				<option value="F">Femenino</option>
				<option value="O">Otro</option>
			</select>
			<br>
			<br>
			<input type="submit" value="Registrar" style="background-color: rgb(237, 85, 5); color: white; border-color: rgb(237, 85, 5);">
		</form>
		<br>
	</div>

</body>

</html>